<div class="container">
  <div class="row">
    <div class="con-md-12">
      <h1>Welcome Piyumal</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mt-3">
        <a routerLink="/" class="list-group-item">Dashboard</a>
        <a routerLink="/customer" class="list-group-item">Customer</a>
        <a routerLink="/task" class="list-group-item">Task</a>
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
